<div id="container-questionnaire">
	<h1>Debriefing</h1>

	<div class="instructions well">
		<p>Thank you for your participation in our study. Your participation makes an important contribution to our understanding of concept learning and generalization.</p>

		<p>The goal of our research is to better understand how people learn and use new concepts. In the task you observed a sequence of novel commands that you were asked to interpret. As researchers, these judgments can help us understand the nature of learning, and how the mind summarizes and represents information to form mental representations.</p>

		<p>If you are interested in this research, we recommend that you read about categorization, learning, and decision making in an introductory psychology textbook.</p>
		
		<p>If you have any questions about this research, you may contact the principal investigator Brenden M. Lake at brenden@nyu.edu.</p>		
    </div>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
		        <button type="button" id="finish_button" value="next" class="btn btn-primary btn-lg continue">
		            Complete experiment
		        </button>
		    </div>
        </div>
    </div>
</div>