<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<style>
/*ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}
*/
ul {
    list-style-type: none;
    margin:0;
    padding: 5px;
    overflow:hidden;
}
li {
    float:left;
    font-size:60px;
}
li a {
    display:block;
    text-align:center;
    padding:16px;
    text-decoration:none;
}
</style>
<div id="container-exp">
	<div id="trial">		
		<div id="debug"></div>	
		<h3>Current command:</h3>
		<div id="stim"></div>
		<ul id="source_array" style="width:120px;background:#eee;">
			<li class='source_li'><scan style=color:red;>&#x25CF</scan></li>
			<li class='source_li'><scan style=color:blue;>&#x25CF</scan></li>
			<li class='source_li'><scan style=color:green;>&#x25CF</scan></li>
		</ul>
		<br>
		Response:
		<ul id="response_array" style="border-style:solid;width:75%;height:70px;">
			<!-- <li><scan style=color:red;>&#x25CF</scan></li>
			<li><scan style=color:blue;>&#x25CF</scan></li>
			<li><scan style=color:green;>&#x25CF</scan></li> -->
		</ul>
		<div>
		<br>
		Feedback:
		<ul id="feedback_array" style="border-style:solid;width:75%;height:70px;">
			<li><scan style=color:red;>&#x25CF</scan></li>
			<li><scan style=color:blue;>&#x25CF</scan></li>
			<li><scan style=color:green;>&#x25CF</scan></li>
		</ul>
		</div>
	</div>
</div>
<script>

$("#response_array").sortable();
$('#response_array').disableSelection();
$(".source_li").draggable({helper: "clone", connectToSortable: "#response_array"});
$(".source_li").disableSelection();
</script>