<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    Please read these instructions carefully. You will be quizzed on their content before the experiment begins. 
	    </p>
	    
	    <p>
	    	This study has to do with how people learn input-output associations. You will be asked to produce the output for 7 novel commands. Each command is a series of nonsense words, and the output for a command is a series of colored circles.
        </p>

        <p>
             There may be multiple reasonable answers for a given command. Please try to always provide what you think is a reasonable guess. Ultimately, we are interested in your intuition. 
        </p>

        <p>
            Please only use the information on the screen to complete the task. Do not take notes or use external aids to help with the task (do not use pen and paper, take a screen shot, etc.). This is important for the scientific validity of the study.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
