<style>
ul {
    list-style-type: none;
    margin:0;
    padding:5px;
    overflow:hidden;
    text-align:left;
}
li {
    float:left;
    font-size:60px;
}
li.DEMO_data_li {
    font-size:30px;
}
li span {
    display:block;
    text-align:center;
    text-decoration:none;
}
</style>
<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            Here is how to use the response interface. Please practice making an output response by adding <b>four green circles</b> to the response box. You can enter your response as follows:
            <dl>
                <dd>- You can drag the circles from the pool to the response box.</dd>
                <dd>- You can drag circles within the response box to re-order them.</dd>
                <dd>- The Reset button clears the response box.</dd>
            </dl>
            Please use the interface below to select your response.
        </p>

        <br>
        Pool (drag):
        <ul id="DEMO_source_array" style="width:400px;height:70px;background:#eee;">
        </ul>

        <br>
        Response:
        <button id="DEMO_reset_button">
            Reset
        </button>
        <ul id="DEMO_response_array" style="border-style:solid;width:75%;height:70px;">
        </ul>
        <br>
        <span id="DEMO_msg"></span>
        <div id="DEMO_submit_button">
            <button id="DEMO_submit_button">
                Submit
            </button>
        </div>

        <script src="/static/lib/jquery-min.js" type="text/javascript"> </script>
        <script src="/static/lib/jquery-ui.min.js" type="text/javascript"> </script>
        <script src="/static/js/scan_stimuli_simple.js" type="text/javascript"> </script>
        <script type="text/javascript">

            var colors = colors_scan;
            var color_green = '#33cc33';
            
            var make_circle = function (mycolor, myclass) {
                var mycircle = $("<li>").attr('class',myclass).html(
                                $("<span>").attr('style',"color:"+mycolor+';').html("&#x25CF")
                            );
                return mycircle;
            };

            var post_pool = function () {
            // create the pool of color circles for dragging
            for (var i=0; i<colors.length; i++) {
                    mycircle = make_circle(colors[i] , 'DEMO_source_li' );
                    $('#DEMO_source_array').append(mycircle);
                }
            };

            var clear_response = function () {
                $('#DEMO_response_array').html('');
            };

            var submit = function() {
                if (check_response()) {
                    $('#div-demo-submit').attr('style','');
                    $('#DEMO_submit_button').attr('style',"display:none;");
                    $('#DEMO_msg').text('Correct response! Please click the Quiz button to proceed.')
                }
                else {
                    $('#DEMO_msg').text('Incorrect response! Please try again.')
                }
            };

            var check_response = function () {
                var myresponse = $('#DEMO_response_array span').map( function () { return $(this).attr('style'); });
                if (myresponse.length !== 4) {
                    return false;
                }
                for (var i=0; i<myresponse.length; i++) {
                   if (myresponse[i] !== 'color:' + color_green + ';') {
                        return false;
                   }
                }
                return true;
            };

            post_pool();
            $("#DEMO_response_array").sortable();
            $('#DEMO_response_array').disableSelection();
            $(".DEMO_source_li").draggable({helper: "clone", connectToSortable: "#DEMO_response_array"});
            $(".DEMO_source_li").disableSelection();
            $("#DEMO_reset_button").click( clear_response );
            $("#DEMO_submit_button").click( submit );

        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>            
            <div class="col-xs-2" id='div-demo-submit' style="display:none;">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Go to quiz <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>

        </div>
    </div>

</div>